.header h1{
	display:inline;
	border: 4px solid blue;
}
.header h1 img {
	width: 100px;
	height: 100px;
}
.header h1 a {
	text-decoration:none;
}
.header ul {
	display:inline;
}
.header li {
	display:inline;
	border: 4px solid blue;
}
.header li a {
	text-decoration:none;
}
