* {
	margin: 0px;
	padding: 0px;
}
#nav {
	margin-bottom: 10px;
}
#navLeft img{
	width: 100px;
	height: 100px;
}
#header {
	font-size:40px;
	position: absolute;
	left: 100px;
	top: 0px;
}
#address {
	font-size: 20px;
	position: absolute;
	left: 100px;
	top: 50px;
}
#navRight {
	text-align:right;
}
#navRight a {
	position:relative;
	text-decoration:none;
	color: white;
	margin: 10px;
	border: 5px solid pink;
	border-radius: 20px;
	background: pink;
	font-size: 30px;
}
